/GeekTrust/CSharp/.vs/GeekTrust/v14/*.suo
/GeekTrust/CSharp/GeekTrust/bin/Debug/*.exe
/GeekTrust/CSharp/GeekTrust/bin/Debug/*.config
/GeekTrust/CSharp/GeekTrust/bin/Debug/*.pdb
/GeekTrust/CSharp/GeekTrust/bin/Debug/*.manifest
/GeekTrust/CSharp/GeekTrust/obj/Debug/*.cache
/GeekTrust/CSharp/GeekTrust/obj/Debug/*.txt
/GeekTrust/CSharp/GeekTrust/obj/Debug/*.exe
/GeekTrust/CSharp/GeekTrust/obj/Debug/*.pdb
/GeekTrust/CSharp/GeekTrust/obj/Debug/*.cs
/GeekTrust/CSharp/GeekTrustUnitTests/obj/Debug/*.cache
/GeekTrust/CSharp/GeekTrustUnitTests/obj/Debug/*.cs
/CutShort/CSharp/OddsAndEvens/OddsAndEvens/bin/Debug/*.exe
/CutShort/CSharp/OddsAndEvens/OddsAndEvens/bin/Debug/*.config
/CutShort/CSharp/OddsAndEvens/OddsAndEvens/bin/Debug/*.pdb
/CutShort/CSharp/OddsAndEvens/OddsAndEvens/bin/Debug/*.manifest
/CutShort/CSharp/OddsAndEvens/OddsAndEvens/obj/Debug/*.txt
/CutShort/CSharp/OddsAndEvens/OddsAndEvens/obj/Debug/*.cache
/CutShort/CSharp/OddsAndEvens/OddsAndEvens/obj/Debug/*.exe
/CutShort/CSharp/OddsAndEvens/OddsAndEvens/obj/Debug/*.pdb
/CutShort/CSharp/OddsAndEvens/OddsAndEvens/obj/Debug/*.cs
/CutShort/CSharp/OddsAndEvens/.vs/CutShort/v14/*.suo
/GeekTrust/CSharp/GeekTrustUnitTests/bin/Debug/GeekTrust.exe
/GeekTrust/CSharp/GeekTrustUnitTests/bin/Debug/GeekTrust.pdb
/GeekTrust/CSharp/GeekTrustUnitTests/bin/Debug/GeekTrustUnitTests.dll
/GeekTrust/CSharp/GeekTrustUnitTests/bin/Debug/GeekTrustUnitTests.pdb
/GeekTrust/CSharp/GeekTrustUnitTests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/GeekTrust/CSharp/GeekTrustUnitTests/obj/Debug/GeekTrustUnitTests.csproj.FileListAbsolute.txt
/GeekTrust/CSharp/GeekTrustUnitTests/obj/Debug/GeekTrustUnitTests.dll
/GeekTrust/CSharp/GeekTrustUnitTests/obj/Debug/GeekTrustUnitTests.pdb
