/GeekTrust/CSharp/.vs/GeekTrust/v14/*.suo
/GeekTrust/CSharp/GeekTrust/bin/Debug/*.exe
/GeekTrust/CSharp/GeekTrust/bin/Debug/*.config
/GeekTrust/CSharp/GeekTrust/bin/Debug/*.pdb
/GeekTrust/CSharp/GeekTrust/bin/Debug/*.manifest
/GeekTrust/CSharp/GeekTrust/obj/Debug/*.cache
/GeekTrust/CSharp/GeekTrust/obj/Debug/*.txt
/GeekTrust/CSharp/GeekTrust/obj/Debug/*.exe
/GeekTrust/CSharp/GeekTrust/obj/Debug/*.pdb
/GeekTrust/CSharp/GeekTrust/obj/Debug/*.cs
/GeekTrust/CSharp/GeekTrustUnitTests/obj/Debug/*.cache
/GeekTrust/CSharp/GeekTrustUnitTests/obj/Debug/*.cs
/CutShort/CSharp/OddsAndEvens/OddsAndEvens/bin/Debug/*.exe
/CutShort/CSharp/OddsAndEvens/OddsAndEvens/bin/Debug/*.config
/CutShort/CSharp/OddsAndEvens/OddsAndEvens/bin/Debug/*.pdb
/CutShort/CSharp/OddsAndEvens/OddsAndEvens/bin/Debug/*.manifest
/CutShort/CSharp/OddsAndEvens/OddsAndEvens/obj/Debug/*.txt
/CutShort/CSharp/OddsAndEvens/OddsAndEvens/obj/Debug/*.cache
/CutShort/CSharp/OddsAndEvens/OddsAndEvens/obj/Debug/*.exe
/CutShort/CSharp/OddsAndEvens/OddsAndEvens/obj/Debug/*.pdb
/CutShort/CSharp/OddsAndEvens/OddsAndEvens/obj/Debug/*.cs
/CutShort/CSharp/OddsAndEvens/.vs/CutShort/v14/*.suo
/GeekTrust/CSharp/GeekTrustUnitTests/bin/Debug/GeekTrust.exe
/GeekTrust/CSharp/GeekTrustUnitTests/bin/Debug/GeekTrust.pdb
/GeekTrust/CSharp/GeekTrustUnitTests/bin/Debug/GeekTrustUnitTests.dll
/GeekTrust/CSharp/GeekTrustUnitTests/bin/Debug/GeekTrustUnitTests.pdb
/GeekTrust/CSharp/GeekTrustUnitTests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/GeekTrust/CSharp/GeekTrustUnitTests/obj/Debug/GeekTrustUnitTests.csproj.FileListAbsolute.txt
/GeekTrust/CSharp/GeekTrustUnitTests/obj/Debug/GeekTrustUnitTests.dll
/GeekTrust/CSharp/GeekTrustUnitTests/obj/Debug/GeekTrustUnitTests.pdb
/GeneralPractice/CSharp/PracticePrograms/.vs/PracticePrograms/v15/*.suo
/GeneralPractice/CSharp/PracticePrograms/.vs/PracticePrograms/v15/Server/sqlite3/*.lock
/GeneralPractice/CSharp/PracticePrograms/.vs/PracticePrograms/v15/Server/sqlite3/*.ide
/GeneralPractice/CSharp/PracticePrograms/.vs/PracticePrograms/v15/Server/sqlite3/*.ide-shm
/GeneralPractice/CSharp/PracticePrograms/.vs/PracticePrograms/v15/Server/sqlite3/*.ide-wal
/GeneralPractice/CSharp/PracticePrograms/PracticePrograms/bin/Debug/*.exe
/GeneralPractice/CSharp/PracticePrograms/PracticePrograms/bin/Debug/*.config
/GeneralPractice/CSharp/PracticePrograms/PracticePrograms/bin/Debug/*.pdb
/GeneralPractice/CSharp/PracticePrograms/PracticePrograms/obj/Debug/*.cache
/GeneralPractice/CSharp/PracticePrograms/PracticePrograms/obj/Debug/*.txt
/GeneralPractice/CSharp/PracticePrograms/PracticePrograms/obj/Debug/*.exe
/GeneralPractice/CSharp/PracticePrograms/PracticePrograms/obj/Debug/*.pdb
/GeneralPractice/CSharp/PracticePrograms/PracticePrograms/obj/Debug/*.cs
/GeekTrust/DawnOfTheApes/DawnOfTheApes/bin/Debug/DawnOfTheApes.exe
/GeekTrust/DawnOfTheApes/DawnOfTheApes/bin/Debug/DawnOfTheApes.exe.config
/GeekTrust/DawnOfTheApes/DawnOfTheApes/bin/Debug/DawnOfTheApes.pdb
/GeekTrust/DawnOfTheApes/DawnOfTheApes/bin/Debug/DawnOfTheApes.vshost.exe
/GeekTrust/DawnOfTheApes/DawnOfTheApes/bin/Debug/DawnOfTheApes.vshost.exe.config
/GeekTrust/DawnOfTheApes/DawnOfTheApes/bin/Debug/DawnOfTheApes.vshost.exe.manifest
/GeekTrust/DawnOfTheApes/DawnOfTheApes/obj/Debug/DawnOfTheApes.csproj.FileListAbsolute.txt
/GeekTrust/DawnOfTheApes/DawnOfTheApes/obj/Debug/DawnOfTheApes.csprojResolveAssemblyReference.cache
/GeekTrust/DawnOfTheApes/DawnOfTheApes/obj/Debug/DawnOfTheApes.exe
/GeekTrust/DawnOfTheApes/DawnOfTheApes/obj/Debug/DawnOfTheApes.pdb
/GeekTrust/DawnOfTheApes/DawnOfTheApes/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GeekTrust/DawnOfTheApes/DawnOfTheApes/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/GeekTrust/DawnOfTheApes/DawnOfTheApes/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/GeekTrust/DawnOfTheApes/DawnOfTheApes/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/GeekTrust/DawnOfTheApes/DawnOfTheApes/obj/Release/DawnOfTheApes.csproj.FileListAbsolute.txt
/GeekTrust/DawnOfTheApes/DawnOfTheApes/obj/Release/DawnOfTheApes.csprojResolveAssemblyReference.cache
/GeekTrust/DawnOfTheApes/DawnOfTheApes/obj/Release/DawnOfTheApes.exe
/GeekTrust/DawnOfTheApes/DawnOfTheApes/obj/Release/DawnOfTheApes.pdb
/GeekTrust/TrafficProblem/GeekTrustUnitTests/bin/Debug/GeekTrust.exe
/GeekTrust/TrafficProblem/GeekTrustUnitTests/bin/Debug/GeekTrust.pdb
/GeekTrust/TrafficProblem/GeekTrustUnitTests/bin/Debug/GeekTrustUnitTests.dll
/GeekTrust/TrafficProblem/GeekTrustUnitTests/bin/Debug/GeekTrustUnitTests.pdb
/GeekTrust/TrafficProblem/GeekTrustUnitTests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/GeekTrust/TrafficProblem/GeekTrustUnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GeekTrust/TrafficProblem/GeekTrustUnitTests/obj/Debug/GeekTrustUnitTests.csproj.FileListAbsolute.txt
/GeekTrust/TrafficProblem/GeekTrustUnitTests/obj/Debug/GeekTrustUnitTests.csprojResolveAssemblyReference.cache
/GeekTrust/TrafficProblem/GeekTrustUnitTests/obj/Debug/GeekTrustUnitTests.dll
/GeekTrust/TrafficProblem/GeekTrustUnitTests/obj/Debug/GeekTrustUnitTests.pdb
/GeekTrust/TrafficProblem/GeekTrustUnitTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/GeekTrust/TrafficProblem/GeekTrustUnitTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/GeekTrust/TrafficProblem/GeekTrustUnitTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/GeekTrust/TrafficProblem/GeekTrust/bin/Debug/GeekTrust.exe
/GeekTrust/TrafficProblem/GeekTrust/bin/Debug/GeekTrust.exe.config
/GeekTrust/TrafficProblem/GeekTrust/bin/Debug/GeekTrust.pdb
/GeekTrust/TrafficProblem/GeekTrust/bin/Debug/GeekTrust.vshost.exe
/GeekTrust/TrafficProblem/GeekTrust/bin/Debug/GeekTrust.vshost.exe.config
/GeekTrust/TrafficProblem/GeekTrust/bin/Debug/GeekTrust.vshost.exe.manifest
/GeekTrust/TrafficProblem/GeekTrust/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/GeekTrust/TrafficProblem/GeekTrust/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GeekTrust/TrafficProblem/GeekTrust/obj/Debug/GeekTrust.csproj.FileListAbsolute.txt
/GeekTrust/TrafficProblem/GeekTrust/obj/Debug/GeekTrust.csprojResolveAssemblyReference.cache
/GeekTrust/TrafficProblem/GeekTrust/obj/Debug/GeekTrust.exe
/GeekTrust/TrafficProblem/GeekTrust/obj/Debug/GeekTrust.pdb
/GeekTrust/TrafficProblem/GeekTrust/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/GeekTrust/TrafficProblem/GeekTrust/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/GeekTrust/TrafficProblem/GeekTrust/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/CHANGES.md
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/LICENSE.txt
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/NOTICES.txt
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/NUnit.3.10.1.nupkg
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/build/NUnit.props
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/lib/net20/NUnit.System.Linq.dll
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/lib/net20/nunit.framework.dll
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/lib/net20/nunit.framework.pdb
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/lib/net20/nunit.framework.xml
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/lib/net35/nunit.framework.dll
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/lib/net35/nunit.framework.pdb
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/lib/net35/nunit.framework.xml
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/lib/net40/nunit.framework.dll
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/lib/net40/nunit.framework.pdb
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/lib/net40/nunit.framework.xml
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/lib/net45/nunit.framework.dll
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/lib/net45/nunit.framework.pdb
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/lib/net45/nunit.framework.xml
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/lib/netstandard1.6/nunit.framework.dll
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/lib/netstandard1.6/nunit.framework.pdb
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/lib/netstandard1.6/nunit.framework.xml
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/lib/netstandard2.0/nunit.framework.dll
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/lib/netstandard2.0/nunit.framework.pdb
/GeekTrust/DawnOfTheApes/packages/NUnit.3.10.1/lib/netstandard2.0/nunit.framework.xml
/GeekTrust/DawnOfTheApes/packages/NUnit.ConsoleRunner.3.8.0/CHANGES.txt
/GeekTrust/DawnOfTheApes/packages/NUnit.ConsoleRunner.3.8.0/LICENSE.txt
/GeekTrust/DawnOfTheApes/packages/NUnit.ConsoleRunner.3.8.0/NOTICES.txt
/GeekTrust/DawnOfTheApes/packages/NUnit.ConsoleRunner.3.8.0/NUnit.ConsoleRunner.3.8.0.nupkg
/GeekTrust/DawnOfTheApes/packages/NUnit.ConsoleRunner.3.8.0/tools/Mono.Cecil.dll
/GeekTrust/DawnOfTheApes/packages/NUnit.ConsoleRunner.3.8.0/tools/nunit-agent-x86.exe
/GeekTrust/DawnOfTheApes/packages/NUnit.ConsoleRunner.3.8.0/tools/nunit-agent-x86.exe.config
/GeekTrust/DawnOfTheApes/packages/NUnit.ConsoleRunner.3.8.0/tools/nunit-agent.exe
/GeekTrust/DawnOfTheApes/packages/NUnit.ConsoleRunner.3.8.0/tools/nunit-agent.exe.config
/GeekTrust/DawnOfTheApes/packages/NUnit.ConsoleRunner.3.8.0/tools/nunit.engine.api.dll
/GeekTrust/DawnOfTheApes/packages/NUnit.ConsoleRunner.3.8.0/tools/nunit.engine.api.xml
/GeekTrust/DawnOfTheApes/packages/NUnit.ConsoleRunner.3.8.0/tools/nunit.engine.dll
/GeekTrust/DawnOfTheApes/packages/NUnit.ConsoleRunner.3.8.0/tools/nunit.nuget.addins
/GeekTrust/DawnOfTheApes/packages/NUnit.ConsoleRunner.3.8.0/tools/nunit3-console.exe
/GeekTrust/DawnOfTheApes/packages/NUnit.ConsoleRunner.3.8.0/tools/nunit3-console.exe.config
/GeekTrust/DawnOfTheApes/packages/NUnit.Extension.NUnitProjectLoader.3.5.0/NUnit.Extension.NUnitProjectLoader.3.5.0.nupkg
/GeekTrust/DawnOfTheApes/packages/NUnit.Extension.NUnitProjectLoader.3.5.0/tools/nunit-project-loader.dll
/GeekTrust/DawnOfTheApes/packages/NUnit.Extension.NUnitV2Driver.3.6.0/LICENSE.txt
/GeekTrust/DawnOfTheApes/packages/NUnit.Extension.NUnitV2Driver.3.6.0/NUnit.Extension.NUnitV2Driver.3.6.0.nupkg
/GeekTrust/DawnOfTheApes/packages/NUnit.Extension.NUnitV2Driver.3.6.0/tools/nunit.core.dll
/GeekTrust/DawnOfTheApes/packages/NUnit.Extension.NUnitV2Driver.3.6.0/tools/nunit.core.interfaces.dll
/GeekTrust/DawnOfTheApes/packages/NUnit.Extension.NUnitV2Driver.3.6.0/tools/nunit.v2.driver.addins
/GeekTrust/DawnOfTheApes/packages/NUnit.Extension.NUnitV2Driver.3.6.0/tools/nunit.v2.driver.dll
/GeekTrust/DawnOfTheApes/packages/NUnit.Extension.NUnitV2ResultWriter.3.5.0/NUnit.Extension.NUnitV2ResultWriter.3.5.0.nupkg
/GeekTrust/DawnOfTheApes/packages/NUnit.Extension.NUnitV2ResultWriter.3.5.0/tools/nunit-v2-result-writer.dll
/GeekTrust/DawnOfTheApes/packages/NUnit.Extension.TeamCityEventListener.1.0.3/CHANGES.txt
/GeekTrust/DawnOfTheApes/packages/NUnit.Extension.TeamCityEventListener.1.0.3/LICENSE.txt
/GeekTrust/DawnOfTheApes/packages/NUnit.Extension.TeamCityEventListener.1.0.3/NUnit.Extension.TeamCityEventListener.1.0.3.nupkg
/GeekTrust/DawnOfTheApes/packages/NUnit.Extension.TeamCityEventListener.1.0.3/tools/teamcity-event-listener.dll
/GeekTrust/DawnOfTheApes/packages/NUnit.Extension.VSProjectLoader.3.7.0/CHANGES.txt
/GeekTrust/DawnOfTheApes/packages/NUnit.Extension.VSProjectLoader.3.7.0/LICENSE.txt
/GeekTrust/DawnOfTheApes/packages/NUnit.Extension.VSProjectLoader.3.7.0/NUnit.Extension.VSProjectLoader.3.7.0.nupkg
/GeekTrust/DawnOfTheApes/packages/NUnit.Extension.VSProjectLoader.3.7.0/tools/vs-project-loader.dll
/GeekTrust/DawnOfTheApes/packages/NUnit.Runners.3.8.0/NUnit.Runners.3.8.0.nupkg
/GeekTrust/DawnOfTheApes/DawnOfTheApes.UnitTests/bin/Debug/DawnOfTheApes.UnitTests.dll
/GeekTrust/DawnOfTheApes/DawnOfTheApes.UnitTests/bin/Debug/DawnOfTheApes.UnitTests.pdb
/GeekTrust/DawnOfTheApes/DawnOfTheApes.UnitTests/bin/Debug/DawnOfTheApes.exe
/GeekTrust/DawnOfTheApes/DawnOfTheApes.UnitTests/bin/Debug/DawnOfTheApes.pdb
/GeekTrust/DawnOfTheApes/DawnOfTheApes.UnitTests/bin/Debug/nunit.framework.dll
/GeekTrust/DawnOfTheApes/DawnOfTheApes.UnitTests/bin/Debug/nunit.framework.pdb
/GeekTrust/DawnOfTheApes/DawnOfTheApes.UnitTests/bin/Debug/nunit.framework.xml
/GeekTrust/DawnOfTheApes/DawnOfTheApes.UnitTests/bin/Debug/nunit_random_seed.tmp
/GeekTrust/DawnOfTheApes/DawnOfTheApes.UnitTests/obj/Debug/DawnOfTheApes.UnitTests.csproj.FileListAbsolute.txt
/GeekTrust/DawnOfTheApes/DawnOfTheApes.UnitTests/obj/Debug/DawnOfTheApes.UnitTests.csprojResolveAssemblyReference.cache
/GeekTrust/DawnOfTheApes/DawnOfTheApes.UnitTests/obj/Debug/DawnOfTheApes.UnitTests.dll
/GeekTrust/DawnOfTheApes/DawnOfTheApes.UnitTests/obj/Debug/DawnOfTheApes.UnitTests.pdb
/GeekTrust/DawnOfTheApes/DawnOfTheApes.UnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GeekTrust/DawnOfTheApes/DawnOfTheApes.UnitTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/GeekTrust/DawnOfTheApes/DawnOfTheApes.UnitTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/GeekTrust/DawnOfTheApes/DawnOfTheApes.UnitTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/GeekTrust/DawnOfTheApes/DawnOfTheApes.UnitTests/obj/Release/DawnOfTheApes.UnitTests.csproj.FileListAbsolute.txt
/GeekTrust/DawnOfTheApes/DawnOfTheApes.UnitTests/obj/Release/DawnOfTheApes.UnitTests.csprojResolveAssemblyReference.cache
/GeekTrust/DawnOfTheApes/DawnOfTheApes.UnitTests/obj/Release/DawnOfTheApes.UnitTests.dll
/GeekTrust/DawnOfTheApes/DawnOfTheApes.UnitTests/obj/Release/DawnOfTheApes.UnitTests.pdb
/GeekTrust/DawnOfTheApes/DawnOfTheApes.DataTests/bin/Debug/DawnOfTheApes.DataTests.dll
/GeekTrust/DawnOfTheApes/DawnOfTheApes.DataTests/bin/Debug/DawnOfTheApes.DataTests.pdb
/GeekTrust/DawnOfTheApes/DawnOfTheApes.DataTests/bin/Debug/DawnOfTheApes.exe
/GeekTrust/DawnOfTheApes/DawnOfTheApes.DataTests/bin/Debug/DawnOfTheApes.pdb
/GeekTrust/DawnOfTheApes/DawnOfTheApes.DataTests/bin/Debug/nunit.framework.dll
/GeekTrust/DawnOfTheApes/DawnOfTheApes.DataTests/bin/Debug/nunit.framework.pdb
/GeekTrust/DawnOfTheApes/DawnOfTheApes.DataTests/bin/Debug/nunit.framework.xml
/GeekTrust/DawnOfTheApes/DawnOfTheApes.DataTests/obj/Debug/DawnOfTheApes.DataTests.csproj.FileListAbsolute.txt
/GeekTrust/DawnOfTheApes/DawnOfTheApes.DataTests/obj/Debug/DawnOfTheApes.DataTests.csprojResolveAssemblyReference.cache
/GeekTrust/DawnOfTheApes/DawnOfTheApes.DataTests/obj/Debug/DawnOfTheApes.DataTests.dll
/GeekTrust/DawnOfTheApes/DawnOfTheApes.DataTests/obj/Debug/DawnOfTheApes.DataTests.pdb
/GeekTrust/DawnOfTheApes/DawnOfTheApes.DataTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GeekTrust/DawnOfTheApes/DawnOfTheApes.DataTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/GeekTrust/DawnOfTheApes/DawnOfTheApes.DataTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/GeekTrust/DawnOfTheApes/DawnOfTheApes.DataTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/GeekTrust/DawnOfTheApes/DawnOfTheApes.DataTests/obj/Release/DawnOfTheApes.DataTests.csproj.FileListAbsolute.txt
/GeekTrust/DawnOfTheApes/DawnOfTheApes.DataTests/obj/Release/DawnOfTheApes.DataTests.dll
/GeekTrust/DawnOfTheApes/DawnOfTheApes.DataTests/obj/Release/DawnOfTheApes.DataTests.pdb
