@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Authentica Solutions was started in 2013 by Russell Long and Gene Garcia to solve core issues in K12 and higher education. Authentica focuses on the values of truth, trust, authenticity, and love for education. Russell and Gene began Authentica Solutions with the ambition to develop a product truly needed across the education industry. Their unique approach toward implementing, handling, and storing data from disparate systems provides school districts the freedom to select the software solutions that work best for them.

With direct experience integrating their products with over 30 of the leading enterprise solutions in the ed tech space, no other team has the hands-on experience to help you meet every customer’s data management requirements</p>
