@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<address>
    Phone: 614-296-6479
    1117 Perimeter Center West
    Suite N313
    Atlanta, GA 30338
</address>